<a href="https://colab.research.google.com/github/Vishwateja-123/CODESOFT/blob/main/AI%26ML_Lab_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
a=[2,3,4,5]
print("this is a list",a)
array=np.array(a)
print("this is a array",a)

this is a list [2, 3, 4, 5]
this is a array [2, 3, 4, 5]

In [4]:
print(type(a))
print(type(array))

<class 'list'>
<class 'numpy.ndarray'>

In [6]:
multiply=array*2
divide=array/2
pow=array**2
print("Multipliacation of array:",multiply)
print("Division of array:",divide)
print("Power result:",pow)

Multipliacation of array: [ 4  6  8 10]
Division of array: [1.  1.5 2.  2.5]
Power result: [ 4  9 16 25]

In [7]:
array1=[2,4,6,8]
array2=[1,3,5,7]
print(array1+array2)

[2, 4, 6, 8, 1, 3, 5, 7]

In [8]:
sin=np.sin(array)
print("sin:",sin)
log=np.log(array)
print("log:",log)
log2=np.log2(array)
print("log2:",log2)
exp=np.exp(array)
print("exp:",exp)

sin: [ 0.90929743  0.14112001 -0.7568025  -0.95892427]
log: [0.69314718 1.09861229 1.38629436 1.60943791]
log2: [1.         1.5849625  2.         2.32192809]
exp: [  7.3890561   20.08553692  54.59815003 148.4131591 ]